<!-- место для подключения базового шаблона -->
{% extends "base.html" %}


<!-- наполнение страницы фильма -->
{% block content %}
<div class="movie-page">
    <div class="movie-poster-film">
      <img src="{{ film.poster }}" alt="" />
    </div>
  
    <div class="movie-info-film">
      <h1>
        <!-- название фильма -->
         {{ film.title }}
      </h1>
      <p>
        <strong>Год:</strong>
        <!-- год -->
         {{ film.year }}
      </p>
      <p>
        <strong>Жанры:</strong>
        <!-- жанры -->
         {{ film.genres }}
      </p>
      <p>
        <strong>Страна:</strong>
        <!-- страна -->
         {{ film.country }}
      </p>
      <p>
        <strong>Описание:</strong>
        <!-- описание -->
         {{ film.description }}
      </p>
      <p>
        <strong>Длительность:</strong>
        <!-- кол-во минут -->
         {{ film.duration }} минут
      </p>
      <p>
        <strong>Рейтинг:</strong>
        <span class="highlight">
          <!-- рейтинг -->
         {{ film.rating }}
          </span>
      </p>
      <p>
        <strong>Возрастной рейтинг:</strong>
        <!-- возраст -->
         {{ film.age_rating }}+
      </p>
    </div>
  </div>
{% endblock %}
  